@keyframes btn_hover {
    0% {
        transform: scale(1.0);
    }

    20% {
        transform: scale(1.05);
    }

    40% {
        transform: scale(1.1);
    }

    60% {
        transform: scale(1.15);
    }

    80% {
        transform: scale(1.2);
    }

    90% {
        transform: scale(1.25);
    }

    100% {
        transform: scale(1.3);
    }
}

.rsvp {
    display: flex;
    font-family: 'Montserrat', sans-serif;
    flex-direction: column;
    align-items: center;
    position: relative;

    & img {
        display: flex;
        width: 100%;
        height: 650px;
        object-fit: cover;
        opacity: 0.5;
        z-index: 0;
    }

    &_title {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: 25%;

        &_names {
            display: flex;
            font-family: 'Montserrat', sans-serif;
            font-size: 24px;
            color: #6b2c0e;
            z-index: 1;
        }

        &_text {
            display: flex;
            font-family: 'Birthstone', sans-serif;
            font-size: 200px;
            color: #687A61;
            z-index: 1;
        }
    }

    &_btn {
        display: block;
        justify-content: center;
        align-items: center;
        position: absolute;
        right: 5%;
        bottom: 5%;
        width: 140px;
        height: 140px;
        border-radius: 50%;
        font-weight: 600;
        color: #687A61;
        background-color: #BDA183;
        border: solid #A5593C 2px;
        z-index: 1;

        & img {
            width: 100%;
            height: 100%;
            top: 0%;
            left: 0%;
            object-fit: contain;
            position: absolute;
            overflow: hidden;
            
        }

        &:hover {
            animation: btn_hover 250ms linear forwards;
        }
    }

    &_form {
        display: flex;
        position: absolute;

    }

}